* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
  perspective: 100rem;
  overflow: hidden;
}

.hamburger-menu {
  width: 3rem;
  height: 3rem;
  /* background-color: #000; */
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: right 0.7s;
}

.change .hamburger-menu {
  right: 33rem;
}

.line {
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

.line {
  background-color: rgba(0, 0, 0, 0.8);
}

.change .line-1 {
  transform: rotate(45deg) translate(0.3rem, 0.8rem);
}

.change .line-2 {
  visibility: hidden;
  opacity: 0;
}

.change .line-3 {
  transform: rotate(-45deg) translate(0.3rem, -0.8rem);
}

.img-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  animation: scale 25s;
}

@keyframes scale {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.banner {
  position: absolute;
  top: 40%;
  left: 15%;
}

.banner h1 {
  font-family: "Baloo Da 2", serif;
  font-size: 6rem;
  font-weight: 300;
  width: 50%;
  color: #fff;
  line-height: 7rem;
  letter-spacing: 0.2rem;
  text-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  animation: moveBanner 1s 0.5s forwards;
}

.banner p {
  margin-top: 1.5rem;
  font-family: "Josefin Slab", serif;
  font-size: 2rem;
  font-weight: 600;
  width: 70%;
  color: #fff;
  line-height: 3rem;
  letter-spacing: 0.3rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  animation: moveBanner 1s 0.7s forwards;
}

.banner button {
  width: 20rem;
  height: 6rem;
  background-color: #926239;
  border: none;
  border-radius: 0.5rem;
  font-family: "Mulish", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  margin-top: 2rem;
  text-shadow: 0 0.2em 0.4rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.3em 0.5rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  opacity: 0;
  animation: moveBanner 1s 0.9s forwards;
}

@keyframes moveBanner {
  0% {
    transform: translateY(40rem) rotateY(-20deg);
  }

  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

/* SIDE BAER TRIGGERED BY THE HAMBURGER-MENU */
.sidebar {
  width: 40rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -40rem;
  background-color: #fff;
  transition: right 0.5s;
}

.change .sidebar {
  right: 0;
}

.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-item {
  text-align: center;
  padding: 1.2rem;
}

.menu-link {
  font-family: "Baloo Da 2", serif;
  font-size: 4rem;
  color: #555;
  transition: color 0.4s;
}

.menu-link:hover {
  color: #926239;
}

.social-media {
  position: absolute;
  bottom: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-media i {
  font-size: 2.2rem;
  margin: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #777;
  color: #fff;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  transition: background-color 0.3s;
}

.social-media i:hover {
  background-color: #926239;
}

/**************************** ROOMS *******************************/

.rooms {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(240, 236, 236);
}

.roomSection {
  text-align: center;
  margin: 5rem;
  /* overflow: hidden; */
}

.roomSection h2 {
  font-size: 2.2rem;
  margin: 1.7%;
  font-family: "Baloo Da 2", serif;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
}

.roomSection p {
  font-size: 2.1rem;
  font-family: "Josefin Slab", serif;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
}

.roomContainer {
  width: 90%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: rgb(240, 236, 236);
}

.roomContainer div {
  width: 48%;
  height: 70%;
  /* border: 1px solid black; */
  margin: 7%;
  padding: 2%;
  text-align: left;
  background-color: #fff;
  border-radius: 0.7rem;
  box-shadow: 9px 13px 39px 30px rgba(0, 0, 0, 0.13);
}

.roomContainer div h6 {
  font-size: 1.5rem;
  font-family: "Baloo Da 2", serif;
  line-height: 2.9rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
}

.roomContainer div span {
  font-size: 1rem;
  color: #926239;
}

.roomContainer div p {
  font-size: 1.5rem;
  margin: 0.5rem;
  font-family: "Josefin Slab", serif;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: 0.17rem;
}

.roomContainer span a {
  font-size: 1.2rem;
  color: #926239;
  cursor: pointer;
}

.roomContainer .btn {
  display: block;
  margin: 1.3rem;
  color: #fff;
  background-color: #926239;
  font-size: 1.8rem;
  text-align: center;
  width: 14rem;
  padding: 0.6rem 1.1rem;
  border-radius: 0.6rem;
  font-family: "Mulish", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  text-shadow: 0 0.2em 0.4rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.2em 0.4rem rgba(0, 0, 0, 0.4);
  transition: all 0.7s;
}

.roomContainer .btn:hover {
  background-color: #503217;
  cursor: pointer;
  width: 15.3rem;
}

.roomContainer img {
  width: 100%;
  height: 30%;
  object-fit: cover;
}

/*********************** FACILITIES ****************************/

.facilities {
  width: 100%;
  height: 100vh;
  background-color: rgb(240, 236, 236);
}
.facilities img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.facilities h1 {
  font-size: 2rem;
  text-transform: capitalize;
  font-family: "Baloo Da 2", serif;
  line-height: 2.9rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
}

.facilities h6 {
  font-size: 1.5rem;
  margin: 0.5rem;
  font-family: "Josefin Slab", serif;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 0.17rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
}

.faci-intro {
  width: 20rem;
  height: 10rem;
  padding: 1rem;
  background: #926239;
  margin-left: 10%;
  top: -12%;
  opacity: 0;
  animation: moveIntro 1s 0.9s forwards;
}

@keyframes moveIntro {
  0% {
    transform: translatex(40rem) rotatex(20deg);
  }

  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

.faci-show {
  width: 87%;
  height: 30vh;
  margin: 3% 10%;
}

.faci-show #left-img {
  width: 45%;
  height: 40vh;
  object-fit: cover;
  float: left;
  box-shadow: 3px 3px 13px 2px rgba(0, 0, 0, 0.73);
  border-radius: 0.6rem;
}

.faci-show #right-img {
  width: 46.3%;
  height: 19vh;
  object-fit: cover;
  float: left;
  margin-left: 2.5rem;
  box-shadow: 3px 3px 13px 2px rgba(0, 0, 0, 0.73);
  border-radius: 0.6rem;
}

.faci-show #share-img {
  width: 22.5%;
  height: 16vh;
  float: left;
  object-fit: cover;
  margin-left: 2.5rem;
  margin-top: 3.3rem;
  box-shadow: 3px 3px 13px 2px rgba(0, 0, 0, 0.73);
  border-radius: 0.6rem;
}

#facilities div + div .view {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./images/beach-relax.jpg");
  width: 22.5%;
  height: 16vh;
  float: left;
  object-fit: cover;
  margin-left: 2.5rem;
  margin-top: 3.3rem;
  box-shadow: 3px 3px 13px 2px rgba(0, 0, 0, 0.73);
  border-radius: 0.6rem;
  display: flex;
  position: relative;
}

#facilities div + div .view h3 {
  color: #ddd;
  font-size: 2rem;
  text-transform: capitalize;
  font-family: "Baloo Da 2", serif;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
  box-shadow: 3px 3px 13px 2px rgba(0, 0, 0, 0.43);
  line-height: 2.9rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.view {
  transition: all 0.5s;
}

#facilities div + div .view:hover {
  box-shadow: 3px 5px 13px 3px rgba(0, 0, 0, 0.93);
  cursor: pointer;
}

/********************* ACTIVITIES ******************************/

.activities {
  width: 100%;
  height: 100vh;
  background-color: rgb(240, 236, 236);
}
.activities img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.activities h1 {
  font-size: 2rem;
  text-transform: capitalize;
  font-family: "Baloo Da 2", serif;
  line-height: 2.9rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
}

.activities h6 {
  font-size: 1.5rem;
  margin: 0.5rem;
  font-family: "Josefin Slab", serif;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 0.17rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
}

.acti-intro {
  width: 20rem;
  height: 10rem;
  padding: 1rem;
  background: #926239;
  margin-left: 10%;
  top: -12%;
  opacity: 0;
  animation: moveIntro 1s 0.9s forwards;
}

.acti-show {
  width: 87%;
  height: 30vh;
  margin: 3% 10%;
}

.acti-show div {
  width: 20%;
  margin: 1rem;
  float: left;
}

.acti-show div img {
  height: 10rem;
  box-shadow: 3px 3px 13px 2px rgba(0, 0, 0, 0.43);
  border-radius: 0.6rem;
  transition: all 0.5s;
}

.acti-show div img:hover {
  box-shadow: 3px 5px 13px 3px rgba(0, 0, 0, 0.93);
}

.acti-show div p {
  font-size: 1.3rem;
  margin: 0.5rem;
  font-family: "Josefin Slab", serif;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 0.17rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
}

/******************************* CONTACT ***********************/

.contact {
  width: 100%;
  height: 40vh;
  background-image: url(./images/map.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-color: #444; */
  display: flex;
  align-items: flex-end;
}

.contact img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.contactBox {
  width: 18rem;
  height: 20rem;
  background-color: #fff;
  margin-left: 25%;
  border-top-right-radius: 0.7rem;
  border-top-left-radius: 0.7rem;
  padding: 2rem;
  box-shadow: 3px 3px 13px 2px rgba(0, 0, 0, 0.43);
}

.contactBox h2,
h3,
h6 {
  font-family: "Baloo Da 2", serif;
  line-height: 2.4rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
}

.contactBox h2 {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 900;
}

.contactBox h3 {
  font-size: 1.6rem;
  font-weight: 500;
  color: #222;
}

.contactBox h6 {
  font-size: 1.1rem;
  font-weight: 300;
  color: #926239;
}

.contactBox p {
  color: #222;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Josefin Slab", serif;
}

.contactBox p span {
  font-size: 1.3rem;
  font-weight: 600;
  color: #926239;
}

/************************************* BOOKINGS ********************/

.bookings {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #926239;
}

.input {
  width: 80%;
  display: flex;
  flex-direction: row;
  height: 3rem;
}

.bookings h2 {
  width: 50%;
  font-size: 2.3rem;
  font-weight: 800;
  font-family: "Baloo Da 2", serif;
  line-height: 2.4rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  text-transform: capitalize;
  margin: 0 10%;
}

.input input {
  width: 60rem;
  padding: 1.3rem;
  text-align: center;
  width: 30%;
  margin: 0% 5%;
  border: none;
  border-radius: 0.4rem;
  box-shadow: 3px 3px 13px 2px rgba(0, 0, 0, 0.43);
}
.input button {
  padding: 0.7rem;
  text-align: center;
  color: #fff;
  background-color: #222;
  width: 40%;
  margin: 0% 5%;
  border: none;
  border-radius: 0.4rem;
  box-shadow: 3px 3px 13px 2px rgba(0, 0, 0, 0.43);
  transition: all 0.5s;
}

.input button:hover {
  box-shadow: 3px 3px 13px 2px rgba(0, 0, 0, 0.93);
  cursor: pointer;
}

/*************************** FOOTER *****************************/

.bottom {
  width: 100%;
  height: 50vh;
}

.bottomHead {
  width: 100%;
  height: 85%;
  background-color: #333;
  display: flex;
}

.bottomHead div {
  color: #fff;
  width: 23%;
  margin: 3%;
  font-size: 1.2rem;
  font-family: "Josefin Slab", serif;
  font-weight: 300;
  line-height: 1.7rem;
  letter-spacing: 0.13rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
}

.bottomHead div h2 {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 1.3rem 0 1.4rem 0;
  text-transform: uppercase;
  text-decoration: underline;
}

.link p {
  margin: 1.4rem 0 1.4rem 0;
}

.link p a {
  color: #fff;
  cursor: pointer;
}

.bottomTail {
  width: 100%;
  height: 15%;
  background-color: #222;
  display: flex;
  align-items: center;
}

.bottomTail p {
  width: 100%;
  margin: 10%;
  font-size: 1.3rem;
  display: flex;
  font-family: "Josefin Slab", serif;
  color: #fff;
  letter-spacing: 0.13rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
}

.bottomTail p + p {
  /* width: 100%; */
  justify-content: flex-end;
}

.follow i {
  font-size: 1.5rem;
  margin: 1.6rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  transition: background-color 0.3s;
}

.follow i:hover {
  background-color: #926239;
}
